<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Afshin Timory/IdeaProjects/QAdemo">
        <classes>
            <class name="ParticeProject.tests.SauceDemo_logOut">
                <methods>
                    <include name="loginToInventory"/>
                    <include name="isLogOutBtn_Present"/>
                    <include name="loginBtn_is_clickable"/>
                    <include name="LogOut_done"/>
                </methods>
            </class>


        </classes>
    </test>
</suite>